.idea
*.xml
*.png
*.eps
*.pyc
Examples/Alice2_gen.xml.bak
*.ipynb
*.xlsx
*try.py
results*
*.DS_Store
Examples/Lift/.DS_Store
Examples/Lift/excel.txt
Examples/SpeedRover/.DS_Store
Examples/Arbiter/results_gr1c.txt
build/*

