# GIT IGNORE #

#Compiled Source#
#################

*.exe
*.o
*.so

#Packages#
##########

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs#
#######
*.log

#Files#
#######

test_file.c
test_file.h